body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:1069px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 154, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8053 {
  position:absolute;
  left:3px;
  top:34px;
  width:902px;
  height:1069px;
}
#u8054 {
  position:absolute;
  left:2px;
  top:526px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:43px;
  background:inherit;
  background-color:rgba(47, 154, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8055 {
  position:absolute;
  left:3px;
  top:34px;
  width:902px;
  height:43px;
}
#u8056 {
  position:absolute;
  left:2px;
  top:14px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8057 {
  position:absolute;
  left:14px;
  top:45px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8058 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8059 {
  position:absolute;
  left:35px;
  top:174px;
  width:789px;
  height:16px;
}
#u8060 {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  white-space:nowrap;
}
#u8061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8061 {
  position:absolute;
  left:35px;
  top:117px;
  width:127px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u8062 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u8063 {
  position:absolute;
  left:26px;
  top:149px;
  width:842px;
  height:1px;
}
#u8064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
