body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2126px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:757px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2884 {
  position:absolute;
  left:75px;
  top:96px;
  width:1920px;
  height:757px;
  color:#666666;
}
#u2885 {
  position:absolute;
  left:2px;
  top:370px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2886 {
  position:absolute;
  left:75px;
  top:75px;
  width:1920px;
  height:75px;
}
#u2887 {
  position:absolute;
  left:2px;
  top:30px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4168F4;
}
#u2888 {
  position:absolute;
  left:122px;
  top:102px;
  width:74px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#4168F4;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:34px;
}
#u2890 {
  position:absolute;
  left:1940px;
  top:96px;
  width:22px;
  height:34px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:9px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6699CC;
}
#u2892 {
  position:absolute;
  left:1897px;
  top:105px;
  width:43px;
  height:16px;
  color:#6699CC;
}
#u2893 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1574px;
  height:759px;
}
#u2896 {
  position:absolute;
  left:354px;
  top:169px;
  width:1574px;
  height:759px;
}
#u2897 {
  position:absolute;
  left:2px;
  top:372px;
  width:1570px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1552px;
  height:689px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2898 {
  position:absolute;
  left:363px;
  top:217px;
  width:1552px;
  height:689px;
}
#u2899 {
  position:absolute;
  left:2px;
  top:336px;
  width:1548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2900 {
  position:absolute;
  left:206px;
  top:75px;
  width:1920px;
  height:75px;
}
#u2901 {
  position:absolute;
  left:2px;
  top:30px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
  background:inherit;
  background-color:rgba(82, 163, 219, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2902 {
  position:absolute;
  left:369px;
  top:177px;
  width:300px;
  height:36px;
}
#u2903 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2904 {
  position:absolute;
  left:388px;
  top:191px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2905 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2906 {
  position:absolute;
  left:469px;
  top:191px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2908 {
  position:absolute;
  left:455px;
  top:191px;
  width:9px;
  height:16px;
  color:#FFFFFF;
}
#u2909 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2910 {
  position:absolute;
  left:399px;
  top:244px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2911 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2912 {
  position:absolute;
  left:399px;
  top:270px;
  width:73px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u2913 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2914 {
  position:absolute;
  left:519px;
  top:327px;
  width:47px;
  height:16px;
  color:#666666;
}
#u2915 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2916 {
  position:absolute;
  left:519px;
  top:371px;
  width:47px;
  height:16px;
  color:#666666;
}
#u2917 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2918 {
  position:absolute;
  left:519px;
  top:411px;
  width:47px;
  height:16px;
  color:#666666;
}
#u2919 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2920 {
  position:absolute;
  left:576px;
  top:327px;
  width:43px;
  height:16px;
  color:#666666;
}
#u2921 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2922 {
  position:absolute;
  left:576px;
  top:371px;
  width:169px;
  height:16px;
  color:#666666;
}
#u2923 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2924 {
  position:absolute;
  left:576px;
  top:411px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2925 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2926 {
  position:absolute;
  left:519px;
  top:448px;
  width:47px;
  height:16px;
  color:#666666;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u2928 {
  position:absolute;
  left:576px;
  top:448px;
  width:300px;
  height:170px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2930 {
  position:absolute;
  left:544px;
  top:191px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2932 {
  position:absolute;
  left:528px;
  top:191px;
  width:9px;
  height:16px;
  color:#FFFFFF;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2934 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:996px;
}
#u2935 {
  position:absolute;
  left:75px;
  top:81px;
  width:258px;
  height:996px;
}
#u2936 {
  position:absolute;
  left:2px;
  top:490px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:710px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2937 {
  position:absolute;
  left:99px;
  top:226px;
  width:210px;
  height:710px;
}
#u2938 {
  position:absolute;
  left:2px;
  top:347px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2939 {
  position:absolute;
  left:134px;
  top:247px;
  width:61px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2940 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2941 {
  position:absolute;
  left:107px;
  top:248px;
  width:17px;
  height:18px;
}
#u2942 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2943 {
  position:absolute;
  left:134px;
  top:290px;
  width:61px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2944 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2945 {
  position:absolute;
  left:134px;
  top:333px;
  width:61px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2946 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2947 {
  position:absolute;
  left:106px;
  top:288px;
  width:20px;
  height:26px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u2949 {
  position:absolute;
  left:107px;
  top:335px;
  width:18px;
  height:19px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:26px;
}
#u2951 {
  position:absolute;
  left:107px;
  top:374px;
  width:20px;
  height:26px;
}
#u2952 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2953 {
  position:absolute;
  left:134px;
  top:377px;
  width:61px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2954 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2955 {
  position:absolute;
  left:147px;
  top:413px;
  width:61px;
  height:21px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2957 {
  position:absolute;
  left:147px;
  top:449px;
  width:61px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#999999;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2959 {
  position:absolute;
  left:379px;
  top:990px;
  width:492px;
  height:108px;
}
#u2960 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  word-wrap:break-word;
}
