body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:74px;
  top:75px;
  width:370px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:188px;
  top:86px;
  width:141px;
  height:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:110px;
  top:132px;
  width:300px;
  height:519px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:519px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
