body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:880px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:74px;
  top:75px;
  width:294px;
  height:522px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:522px;
}
#u1 {
  position:absolute;
  left:2px;
  top:253px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:74px;
  top:151px;
  width:294px;
  height:270px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:270px;
}
#u3 {
  position:absolute;
  left:2px;
  top:127px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:182px;
  top:101px;
  width:88px;
  height:23px;
  color:#F9F9F9;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:23px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:188px;
  top:101px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:88px;
  top:217px;
  width:265px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u9 {
  position:absolute;
  left:88px;
  top:271px;
  width:265px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u10 {
  position:absolute;
  left:96px;
  top:199px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:96px;
  top:233px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:96px;
  top:287px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:192px;
  top:199px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:192px;
  top:233px;
  width:145px;
  height:34px;
  font-size:12px;
  color:#797979;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:34px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:192px;
  top:289px;
  width:76px;
  height:14px;
  font-size:12px;
  color:#797979;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:88px;
  top:309px;
  width:265px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u23 {
  position:absolute;
  left:96px;
  top:159px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:192px;
  top:159px;
  width:100px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:180px;
  top:341px;
  width:82px;
  height:21px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:198px;
  top:343px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:74px;
  top:393px;
  width:294px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:32px;
}
#u32 {
  position:absolute;
  left:2px;
  top:8px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:74px;
  top:153px;
  width:294px;
  height:397px;
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:397px;
}
#u34 {
  position:absolute;
  left:2px;
  top:190px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:74px;
  top:551px;
  width:294px;
  height:45px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:45px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:179px;
  top:561px;
  width:69px;
  height:24px;
  font-size:17px;
  color:#FFFFFF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:24px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:96px;
  top:159px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:190px;
  top:159px;
  width:133px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:17px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:88px;
  top:183px;
  width:265px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u44 {
  position:absolute;
  left:96px;
  top:199px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:190px;
  top:199px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:88px;
  top:219px;
  width:265px;
  height:10px;
}
#u48_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u48_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u49 {
  position:absolute;
  left:96px;
  top:235px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:190px;
  top:235px;
  width:145px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:88px;
  top:289px;
  width:265px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u54 {
  position:absolute;
  left:88px;
  top:325px;
  width:265px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u55 {
  position:absolute;
  left:96px;
  top:303px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:190px;
  top:303px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:74px;
  top:75px;
  width:293px;
  height:520px;
  opacity:0.5;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:520px;
}
#u60 {
  position:absolute;
  left:2px;
  top:252px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:122px;
  top:199px;
  width:197px;
  height:163px;
  font-size:12px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:163px;
}
#u62 {
  position:absolute;
  left:2px;
  top:74px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:196px;
  top:213px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#4AA4FC;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:179px;
  top:309px;
  width:83px;
  height:20px;
  font-size:12px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
}
#u66 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:199px;
  top:311px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:144px;
  top:241px;
  width:154px;
  height:56px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#6B6B6B;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:56px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:188px;
  top:337px;
  width:64px;
  height:13px;
  font-size:9px;
  color:#949494;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:13px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:339px;
  top:104px;
  width:14px;
  height:18px;
  color:#45AFF7;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:400px;
  top:75px;
  width:480px;
  height:175px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:175px;
}
#u76 {
  position:absolute;
  left:2px;
  top:80px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:420px;
  top:90px;
  width:450px;
  height:177px;
  color:#868686;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:177px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:298px;
  top:204px;
  width:12px;
  height:21px;
  font-size:18px;
  color:#868686;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
