body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:575px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 154, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7644 {
  position:absolute;
  left:3px;
  top:34px;
  width:887px;
  height:575px;
}
#u7645 {
  position:absolute;
  left:2px;
  top:280px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7646 {
  position:absolute;
  left:14px;
  top:157px;
  width:868px;
  height:104px;
}
#u7647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u7647 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u7648 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u7649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u7649 {
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
}
#u7650 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u7651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u7651 {
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
}
#u7652 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u7653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u7653 {
  position:absolute;
  left:519px;
  top:0px;
  width:173px;
  height:30px;
}
#u7654 {
  position:absolute;
  left:2px;
  top:7px;
  width:169px;
  word-wrap:break-word;
}
#u7655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
}
#u7655 {
  position:absolute;
  left:692px;
  top:0px;
  width:171px;
  height:30px;
}
#u7656 {
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u7657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u7657 {
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:34px;
}
#u7658 {
  position:absolute;
  left:2px;
  top:9px;
  width:169px;
  word-wrap:break-word;
}
#u7659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u7659 {
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:34px;
  text-decoration:underline;
  color:#2F9AFD;
}
#u7660 {
  position:absolute;
  left:2px;
  top:9px;
  width:169px;
  word-wrap:break-word;
}
#u7661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u7661 {
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:34px;
}
#u7662 {
  position:absolute;
  left:2px;
  top:9px;
  width:169px;
  word-wrap:break-word;
}
#u7663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:34px;
}
#u7663 {
  position:absolute;
  left:519px;
  top:30px;
  width:173px;
  height:34px;
  color:#1E1E1E;
}
#u7664 {
  position:absolute;
  left:2px;
  top:9px;
  width:169px;
  word-wrap:break-word;
}
#u7665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u7665 {
  position:absolute;
  left:692px;
  top:30px;
  width:171px;
  height:34px;
  color:#6B6B6B;
}
#u7666 {
  position:absolute;
  left:2px;
  top:9px;
  width:167px;
  word-wrap:break-word;
}
#u7667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u7667 {
  position:absolute;
  left:0px;
  top:64px;
  width:173px;
  height:35px;
}
#u7668 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u7669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u7669 {
  position:absolute;
  left:173px;
  top:64px;
  width:173px;
  height:35px;
  text-decoration:underline;
  color:#2F9AFD;
}
#u7670 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u7671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u7671 {
  position:absolute;
  left:346px;
  top:64px;
  width:173px;
  height:35px;
}
#u7672 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u7673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:35px;
}
#u7673 {
  position:absolute;
  left:519px;
  top:64px;
  width:173px;
  height:35px;
  color:#1E1E1E;
}
#u7674 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u7675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:35px;
}
#u7675 {
  position:absolute;
  left:692px;
  top:64px;
  width:171px;
  height:35px;
  color:#6B6B6B;
}
#u7676 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u7677 {
  position:absolute;
  left:625px;
  top:119px;
  width:124px;
  height:25px;
}
#u7677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7678 {
  position:absolute;
  left:491px;
  top:119px;
  width:124px;
  height:25px;
}
#u7678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(47, 154, 253, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7679 {
  position:absolute;
  left:759px;
  top:114px;
  width:118px;
  height:34px;
  color:#FFFFFF;
}
#u7680 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u7681_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:19px;
}
#u7681 {
  position:absolute;
  left:21px;
  top:131px;
  width:3px;
  height:16px;
}
#u7682 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7683 {
  position:absolute;
  left:34px;
  top:131px;
  width:65px;
  height:16px;
}
#u7684 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:43px;
  background:inherit;
  background-color:rgba(47, 154, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7685 {
  position:absolute;
  left:3px;
  top:34px;
  width:887px;
  height:43px;
}
#u7686 {
  position:absolute;
  left:2px;
  top:14px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7687 {
  position:absolute;
  left:14px;
  top:45px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7688 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
  background:inherit;
  background-color:rgba(47, 154, 253, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7689 {
  position:absolute;
  left:14px;
  top:87px;
  width:118px;
  height:34px;
  color:#FFFFFF;
}
#u7690 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u7691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:36px;
}
#u7691 {
  position:absolute;
  left:14px;
  top:266px;
  width:427px;
  height:36px;
}
#u7692 {
  position:absolute;
  left:2px;
  top:10px;
  width:423px;
  visibility:hidden;
  word-wrap:break-word;
}
