body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:1237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 154, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7693 {
  position:absolute;
  left:3px;
  top:34px;
  width:887px;
  height:1237px;
}
#u7694 {
  position:absolute;
  left:2px;
  top:610px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:887px;
  height:43px;
  background:inherit;
  background-color:rgba(47, 154, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7695 {
  position:absolute;
  left:3px;
  top:34px;
  width:887px;
  height:43px;
}
#u7696 {
  position:absolute;
  left:2px;
  top:14px;
  width:883px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7697 {
  position:absolute;
  left:14px;
  top:45px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u7698 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7699 {
  position:absolute;
  left:35px;
  top:107px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7700 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u7701 {
  position:absolute;
  left:26px;
  top:139px;
  width:842px;
  height:1px;
}
#u7702 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7703 {
  position:absolute;
  left:41px;
  top:163px;
  width:43px;
  height:16px;
}
#u7704 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7705 {
  position:absolute;
  left:136px;
  top:163px;
  width:29px;
  height:16px;
}
#u7706 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7707 {
  position:absolute;
  left:231px;
  top:163px;
  width:43px;
  height:16px;
}
#u7708 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7709 {
  position:absolute;
  left:326px;
  top:163px;
  width:97px;
  height:16px;
}
#u7710 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7711 {
  position:absolute;
  left:41px;
  top:204px;
  width:43px;
  height:16px;
}
#u7712 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7713 {
  position:absolute;
  left:136px;
  top:204px;
  width:15px;
  height:16px;
}
#u7714 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u7715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7715 {
  position:absolute;
  left:231px;
  top:204px;
  width:57px;
  height:16px;
}
#u7716 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7717 {
  position:absolute;
  left:326px;
  top:204px;
  width:59px;
  height:16px;
}
#u7718 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u7719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7719 {
  position:absolute;
  left:35px;
  top:302px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7720 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u7721 {
  position:absolute;
  left:26px;
  top:334px;
  width:842px;
  height:1px;
}
#u7722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7723 {
  position:absolute;
  left:35px;
  top:365px;
  width:71px;
  height:16px;
}
#u7724 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7725 {
  position:absolute;
  left:130px;
  top:365px;
  width:29px;
  height:16px;
}
#u7726 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7727 {
  position:absolute;
  left:225px;
  top:365px;
  width:43px;
  height:16px;
}
#u7728 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7729 {
  position:absolute;
  left:320px;
  top:365px;
  width:57px;
  height:16px;
}
#u7730 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7731 {
  position:absolute;
  left:41px;
  top:249px;
  width:43px;
  height:16px;
}
#u7732 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7733 {
  position:absolute;
  left:136px;
  top:249px;
  width:29px;
  height:16px;
}
#u7734 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7735 {
  position:absolute;
  left:35px;
  top:411px;
  width:71px;
  height:16px;
}
#u7736 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7737 {
  position:absolute;
  left:130px;
  top:411px;
  width:75px;
  height:16px;
}
#u7738 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u7739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7739 {
  position:absolute;
  left:35px;
  top:456px;
  width:85px;
  height:16px;
}
#u7740 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7741 {
  position:absolute;
  left:130px;
  top:456px;
  width:141px;
  height:16px;
}
#u7742 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u7743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7743 {
  position:absolute;
  left:225px;
  top:411px;
  width:71px;
  height:16px;
}
#u7744 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7745 {
  position:absolute;
  left:320px;
  top:411px;
  width:127px;
  height:16px;
}
#u7746 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7747 {
  position:absolute;
  left:35px;
  top:495px;
  width:71px;
  height:16px;
}
#u7748 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7749 {
  position:absolute;
  left:130px;
  top:495px;
  width:575px;
  height:16px;
}
#u7750 {
  position:absolute;
  left:0px;
  top:0px;
  width:575px;
  white-space:nowrap;
}
#u7751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7751 {
  position:absolute;
  left:35px;
  top:547px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7752 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u7753 {
  position:absolute;
  left:26px;
  top:579px;
  width:842px;
  height:1px;
}
#u7754 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7755 {
  position:absolute;
  left:35px;
  top:604px;
  width:236px;
  height:157px;
}
#u7756 {
  position:absolute;
  left:2px;
  top:70px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7757 {
  position:absolute;
  left:130px;
  top:784px;
  width:29px;
  height:16px;
}
#u7758 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7759 {
  position:absolute;
  left:300px;
  top:604px;
  width:236px;
  height:157px;
}
#u7760 {
  position:absolute;
  left:2px;
  top:70px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7761 {
  position:absolute;
  left:560px;
  top:604px;
  width:236px;
  height:157px;
}
#u7762 {
  position:absolute;
  left:2px;
  top:70px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7763 {
  position:absolute;
  left:385px;
  top:784px;
  width:99px;
  height:16px;
}
#u7764 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7765 {
  position:absolute;
  left:647px;
  top:784px;
  width:99px;
  height:16px;
}
#u7766 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:706px;
  height:489px;
}
#u7767 {
  position:absolute;
  left:972px;
  top:592px;
  width:706px;
  height:489px;
}
#u7768 {
  position:absolute;
  left:2px;
  top:236px;
  width:702px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7769 {
  position:absolute;
  left:23px;
  top:844px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u7770 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u7771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u7771 {
  position:absolute;
  left:14px;
  top:876px;
  width:842px;
  height:1px;
}
#u7772 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7773 {
  position:absolute;
  left:35px;
  top:912px;
  width:140px;
  height:157px;
}
#u7774 {
  position:absolute;
  left:2px;
  top:70px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7775 {
  position:absolute;
  left:203px;
  top:912px;
  width:140px;
  height:157px;
}
#u7776 {
  position:absolute;
  left:2px;
  top:70px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7777 {
  position:absolute;
  left:365px;
  top:912px;
  width:140px;
  height:157px;
}
#u7778 {
  position:absolute;
  left:2px;
  top:70px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7779 {
  position:absolute;
  left:528px;
  top:912px;
  width:140px;
  height:157px;
}
#u7780 {
  position:absolute;
  left:2px;
  top:70px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7781 {
  position:absolute;
  left:688px;
  top:912px;
  width:140px;
  height:157px;
}
#u7782 {
  position:absolute;
  left:2px;
  top:70px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
