body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:1201px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(47, 154, 253, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8607 {
  position:absolute;
  left:3px;
  top:34px;
  width:902px;
  height:1201px;
  font-size:14px;
}
#u8608 {
  position:absolute;
  left:2px;
  top:592px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:902px;
  height:43px;
  background:inherit;
  background-color:rgba(47, 154, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8609 {
  position:absolute;
  left:3px;
  top:34px;
  width:902px;
  height:43px;
}
#u8610 {
  position:absolute;
  left:2px;
  top:14px;
  width:898px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8611 {
  position:absolute;
  left:14px;
  top:45px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8612 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8613 {
  position:absolute;
  left:47px;
  top:180px;
  width:71px;
  height:16px;
}
#u8614 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8615 {
  position:absolute;
  left:135px;
  top:180px;
  width:44px;
  height:16px;
}
#u8616 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8617 {
  position:absolute;
  left:47px;
  top:213px;
  width:57px;
  height:16px;
}
#u8618 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8619 {
  position:absolute;
  left:128px;
  top:213px;
  width:29px;
  height:16px;
}
#u8620 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u8621 {
  position:absolute;
  left:47px;
  top:246px;
  width:1px;
  height:16px;
}
#u8622 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u8623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8623 {
  position:absolute;
  left:129px;
  top:283px;
  width:323px;
  height:16px;
}
#u8624 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u8625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8625 {
  position:absolute;
  left:48px;
  top:324px;
  width:71px;
  height:16px;
}
#u8626 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8627 {
  position:absolute;
  left:129px;
  top:324px;
  width:57px;
  height:16px;
}
#u8628 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8629 {
  position:absolute;
  left:48px;
  top:358px;
  width:71px;
  height:16px;
}
#u8630 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8631 {
  position:absolute;
  left:129px;
  top:358px;
  width:123px;
  height:16px;
}
#u8632 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u8633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8633 {
  position:absolute;
  left:51px;
  top:498px;
  width:71px;
  height:16px;
}
#u8634 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8635 {
  position:absolute;
  left:122px;
  top:498px;
  width:47px;
  height:16px;
}
#u8636 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u8637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8637 {
  position:absolute;
  left:48px;
  top:283px;
  width:71px;
  height:16px;
}
#u8638 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8639 {
  position:absolute;
  left:48px;
  top:246px;
  width:85px;
  height:16px;
}
#u8640 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8641 {
  position:absolute;
  left:143px;
  top:246px;
  width:89px;
  height:16px;
}
#u8642 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8643 {
  position:absolute;
  left:412px;
  top:206px;
  width:71px;
  height:16px;
}
#u8644 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8645 {
  position:absolute;
  left:493px;
  top:206px;
  width:43px;
  height:16px;
}
#u8646 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8647 {
  position:absolute;
  left:413px;
  top:239px;
  width:99px;
  height:16px;
}
#u8648 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8649 {
  position:absolute;
  left:508px;
  top:239px;
  width:89px;
  height:16px;
}
#u8650 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8651 {
  position:absolute;
  left:51px;
  top:531px;
  width:71px;
  height:16px;
}
#u8652 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8653 {
  position:absolute;
  left:122px;
  top:531px;
  width:43px;
  height:16px;
}
#u8654 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8655 {
  position:absolute;
  left:51px;
  top:564px;
  width:71px;
  height:16px;
}
#u8656 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8657 {
  position:absolute;
  left:122px;
  top:564px;
  width:57px;
  height:16px;
}
#u8658 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8659 {
  position:absolute;
  left:44px;
  top:117px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8660 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u8661 {
  position:absolute;
  left:35px;
  top:149px;
  width:842px;
  height:1px;
}
#u8662 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8663 {
  position:absolute;
  left:45px;
  top:442px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8664 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u8665 {
  position:absolute;
  left:36px;
  top:474px;
  width:842px;
  height:1px;
}
#u8666 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8667 {
  position:absolute;
  left:36px;
  top:775px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8668 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u8669 {
  position:absolute;
  left:27px;
  top:807px;
  width:842px;
  height:1px;
}
#u8670 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8671 {
  position:absolute;
  left:36px;
  top:831px;
  width:699px;
  height:16px;
}
#u8672 {
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  white-space:nowrap;
}
#u8673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8673 {
  position:absolute;
  left:754px;
  top:831px;
  width:115px;
  height:16px;
}
#u8674 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u8675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#2F9AFD;
}
#u8675 {
  position:absolute;
  left:817px;
  top:781px;
  width:29px;
  height:16px;
  text-decoration:underline;
  color:#2F9AFD;
}
#u8676 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8677 {
  position:absolute;
  left:48px;
  top:395px;
  width:71px;
  height:16px;
}
#u8678 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u8679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8679 {
  position:absolute;
  left:129px;
  top:395px;
  width:85px;
  height:16px;
}
#u8680 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u8681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8681 {
  position:absolute;
  left:36px;
  top:620px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u8682 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:2px;
}
#u8683 {
  position:absolute;
  left:27px;
  top:652px;
  width:842px;
  height:1px;
}
#u8684 {
  position:absolute;
  left:2px;
  top:-8px;
  width:838px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8685 {
  position:absolute;
  left:40px;
  top:681px;
  width:99px;
  height:16px;
}
#u8686 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u8687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8687 {
  position:absolute;
  left:167px;
  top:681px;
  width:155px;
  height:16px;
}
#u8688 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u8689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8689 {
  position:absolute;
  left:167px;
  top:714px;
  width:191px;
  height:16px;
}
#u8690 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u8691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u8692 {
  position:absolute;
  left:192px;
  top:824px;
  width:30px;
  height:23px;
}
#u8693 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u8694 {
  position:absolute;
  left:236px;
  top:824px;
  width:30px;
  height:23px;
}
#u8695 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u8696 {
  position:absolute;
  left:276px;
  top:824px;
  width:30px;
  height:23px;
}
#u8697 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u8698 {
  position:absolute;
  left:316px;
  top:824px;
  width:30px;
  height:23px;
}
#u8699 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u8700 {
  position:absolute;
  left:362px;
  top:824px;
  width:30px;
  height:23px;
}
#u8701 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u8702 {
  position:absolute;
  left:426px;
  top:835px;
  width:35px;
  height:16px;
  color:#FF9900;
}
#u8703 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
