body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:0px;
  width:373px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:134px;
  top:28px;
  width:90px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:15px;
  top:28px;
  width:40px;
  height:29px;
  font-size:18px;
  color:#868686;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:9px;
  top:70px;
  width:365px;
  height:490px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:490px;
}
#u9 {
  position:absolute;
  left:2px;
  top:237px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:96px;
  width:160px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:15px;
  top:123px;
  width:359px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:359px;
  height:1px;
}
#u13 {
  position:absolute;
  left:250px;
  top:96px;
  width:110px;
  height:16px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:30px;
  top:143px;
  width:160px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:15px;
  top:170px;
  width:359px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:342px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:359px;
  height:1px;
}
#u18 {
  position:absolute;
  left:250px;
  top:143px;
  width:110px;
  height:16px;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:15px;
  top:70px;
  width:359px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:15px;
  top:130px;
  width:359px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
