body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:42px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:34px;
  width:80px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:150px;
  top:31px;
  width:25px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1050px;
  top:37px;
  width:60px;
  height:16px;
  color:#54ACFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1120px;
  top:32px;
  width:25px;
  height:25px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:107px;
  width:1140px;
  height:59px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:59px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:126px;
  width:300px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:50px;
  top:176px;
  width:1140px;
  height:494px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:494px;
}
#u15 {
  position:absolute;
  left:2px;
  top:239px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:80px;
  top:420px;
  width:440px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:80px;
  top:508px;
  width:180px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:80px;
  top:460px;
  width:1050px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  height:32px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:1050px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:80px;
  top:264px;
  width:180px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:350px;
  top:264px;
  width:180px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:80px;
  top:195px;
  width:180px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:80px;
  top:230px;
  width:610px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:593px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:610px;
  height:1px;
}
#u29 {
  position:absolute;
  left:80px;
  top:355px;
  width:180px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:80px;
  top:390px;
  width:610px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:593px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:610px;
  height:1px;
}
#u32 {
  position:absolute;
  left:80px;
  top:540px;
  width:180px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
