body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1680px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:75px;
  top:75px;
  width:1095px;
  height:603px;
  font-size:12px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:603px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:1091px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:75px;
  top:678px;
  width:161px;
  height:230px;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:230px;
}
#u3 {
  position:absolute;
  left:2px;
  top:107px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:120px;
  top:793px;
  width:230px;
  height:1px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:1px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:242px;
  top:728px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#474B53;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:305px;
  top:781px;
  width:163px;
  height:17px;
  font-size:12px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:17px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:305px;
  top:806px;
  width:170px;
  height:17px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:305px;
  top:829px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#3598DC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:708px;
  top:728px;
  width:61px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#474B53;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:765px;
  top:783px;
  width:182px;
  height:17px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:765px;
  top:806px;
  width:61px;
  height:17px;
  font-size:12px;
  color:#3598DC;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:1200px;
  top:75px;
  width:480px;
  height:105px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:105px;
}
#u21 {
  position:absolute;
  left:2px;
  top:44px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1220px;
  top:90px;
  width:450px;
  height:137px;
  color:#868686;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:137px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
