body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:74px;
  top:75px;
  width:294px;
  height:522px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:522px;
}
#u1 {
  position:absolute;
  left:2px;
  top:253px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:74px;
  top:309px;
  width:294px;
  height:167px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:167px;
}
#u3 {
  position:absolute;
  left:2px;
  top:76px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:89px;
  top:321px;
  width:82px;
  height:21px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:21px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:107px;
  top:323px;
  width:45px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:89px;
  top:351px;
  width:265px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:265px;
  height:1px;
}
#u9 {
  position:absolute;
  left:700px;
  top:75px;
  width:480px;
  height:160px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:160px;
}
#u10 {
  position:absolute;
  left:2px;
  top:72px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:720px;
  top:90px;
  width:450px;
  height:137px;
  color:#868686;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:137px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:388px;
  top:75px;
  width:292px;
  height:519px;
  font-size:12px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:519px;
}
#u14 {
  position:absolute;
  left:2px;
  top:252px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:458px;
  top:101px;
  width:151px;
  height:27px;
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:502px;
  top:101px;
  width:49px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:388px;
  top:133px;
  width:292px;
  height:461px;
  font-size:12px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:461px;
}
#u20 {
  position:absolute;
  left:2px;
  top:222px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:388px;
  top:133px;
  width:292px;
  height:15px;
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:15px;
}
#u22 {
  position:absolute;
  left:2px;
  top:0px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:388px;
  top:575px;
  width:292px;
  height:18px;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:18px;
}
#u24 {
  position:absolute;
  left:2px;
  top:1px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:394px;
  top:160px;
  width:42px;
  height:10px;
  font-size:9px;
  color:#797979;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:454px;
  top:160px;
  width:42px;
  height:10px;
  font-size:9px;
  color:#797979;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:514px;
  top:160px;
  width:42px;
  height:10px;
  font-size:9px;
  color:#797979;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:572px;
  top:160px;
  width:42px;
  height:10px;
  font-size:9px;
  color:#797979;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:628px;
  top:160px;
  width:42px;
  height:10px;
  font-size:9px;
  color:#797979;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:10px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:414px;
  top:187px;
  width:10px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#66CCFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:52px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:474px;
  top:187px;
  width:10px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#797979;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:65px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:532px;
  top:187px;
  width:10px;
  height:52px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#797979;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:52px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:590px;
  top:187px;
  width:10px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#797979;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:78px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:646px;
  top:187px;
  width:10px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  color:#797979;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:78px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:414px;
  top:177px;
  width:4px;
  height:4px;
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:476px;
  top:177px;
  width:4px;
  height:4px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:534px;
  top:177px;
  width:4px;
  height:4px;
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:592px;
  top:177px;
  width:4px;
  height:4px;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u52 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:650px;
  top:177px;
  width:4px;
  height:4px;
  font-size:12px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:414px;
  top:174px;
  width:181px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:164px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:181px;
  height:1px;
}
#u56 {
  position:absolute;
  left:476px;
  top:174px;
  width:176px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:159px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:176px;
  height:1px;
}
#u57 {
  position:absolute;
  left:388px;
  top:277px;
  width:292px;
  height:15px;
  font-size:12px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:15px;
}
#u58 {
  position:absolute;
  left:2px;
  top:0px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:402px;
  top:327px;
  width:265px;
  height:10px;
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:265px;
  height:2px;
}
#u60 {
  position:absolute;
  left:400px;
  top:373px;
  width:265px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:4px;
  width:265px;
  height:2px;
}
#u61 {
  position:absolute;
  left:410px;
  top:301px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:409px;
  top:347px;
  width:73px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:506px;
  top:301px;
  width:100px;
  height:17px;
  font-size:12px;
  color:#797979;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:505px;
  top:347px;
  width:84px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#797979;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:614px;
  top:101px;
  width:53px;
  height:18px;
  color:#868686;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
