body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:792px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:115px;
  top:183px;
  width:102px;
  height:35px;
}
#u60 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:75px;
  top:75px;
  width:109px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  position:absolute;
  left:281px;
  top:183px;
  width:102px;
  height:35px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u65 {
  position:absolute;
  left:474px;
  top:136px;
  width:102px;
  height:35px;
}
#u66 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:474px;
  top:226px;
  width:102px;
  height:35px;
}
#u68 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  position:absolute;
  left:690px;
  top:183px;
  width:102px;
  height:35px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:217px;
  top:201px;
  width:0px;
  height:0px;
}
#u71_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u71_seg1 {
  position:absolute;
  left:50px;
  top:-10px;
  width:21px;
  height:20px;
}
#u72 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:383px;
  top:201px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u73_seg1 {
  position:absolute;
  left:73px;
  top:-51px;
  width:8px;
  height:55px;
}
#u73_seg2 {
  position:absolute;
  left:73px;
  top:-51px;
  width:18px;
  height:8px;
}
#u73_seg3 {
  position:absolute;
  left:77px;
  top:-57px;
  width:21px;
  height:20px;
}
#u74 {
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:383px;
  top:201px;
  width:0px;
  height:0px;
}
#u75_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u75_seg1 {
  position:absolute;
  left:73px;
  top:-4px;
  width:8px;
  height:51px;
}
#u75_seg2 {
  position:absolute;
  left:73px;
  top:39px;
  width:18px;
  height:8px;
}
#u75_seg3 {
  position:absolute;
  left:77px;
  top:33px;
  width:21px;
  height:20px;
}
#u76 {
  position:absolute;
  left:17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:576px;
  top:154px;
  width:0px;
  height:0px;
}
#u77_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u77_seg1 {
  position:absolute;
  left:100px;
  top:-4px;
  width:8px;
  height:55px;
}
#u77_seg2 {
  position:absolute;
  left:100px;
  top:43px;
  width:14px;
  height:8px;
}
#u77_seg3 {
  position:absolute;
  left:100px;
  top:37px;
  width:21px;
  height:20px;
}
#u78 {
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:576px;
  top:244px;
  width:0px;
  height:0px;
}
#u79_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u79_seg1 {
  position:absolute;
  left:100px;
  top:-47px;
  width:8px;
  height:51px;
}
#u79_seg2 {
  position:absolute;
  left:100px;
  top:-47px;
  width:14px;
  height:8px;
}
#u79_seg3 {
  position:absolute;
  left:100px;
  top:-53px;
  width:21px;
  height:20px;
}
#u80 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u81 {
  position:absolute;
  left:75px;
  top:311px;
  width:109px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:126px;
  top:465px;
  width:102px;
  height:35px;
}
#u84 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:292px;
  top:357px;
  width:102px;
  height:35px;
}
#u86 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u87_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u87 {
  position:absolute;
  left:292px;
  top:427px;
  width:102px;
  height:35px;
}
#u88 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u89 {
  position:absolute;
  left:292px;
  top:499px;
  width:102px;
  height:35px;
}
#u90 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u91 {
  position:absolute;
  left:292px;
  top:570px;
  width:102px;
  height:35px;
}
#u92 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:474px;
  top:465px;
  width:102px;
  height:35px;
}
#u94 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:228px;
  top:483px;
  width:0px;
  height:0px;
}
#u95_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u95_seg1 {
  position:absolute;
  left:48px;
  top:-112px;
  width:8px;
  height:116px;
}
#u95_seg2 {
  position:absolute;
  left:48px;
  top:-112px;
  width:16px;
  height:8px;
}
#u95_seg3 {
  position:absolute;
  left:50px;
  top:-118px;
  width:21px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:-42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:228px;
  top:483px;
  width:0px;
  height:0px;
}
#u97_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u97_seg1 {
  position:absolute;
  left:48px;
  top:-42px;
  width:8px;
  height:46px;
}
#u97_seg2 {
  position:absolute;
  left:48px;
  top:-42px;
  width:16px;
  height:8px;
}
#u97_seg3 {
  position:absolute;
  left:50px;
  top:-48px;
  width:21px;
  height:20px;
}
#u98 {
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:228px;
  top:483px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u99_seg1 {
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:42px;
}
#u99_seg2 {
  position:absolute;
  left:48px;
  top:30px;
  width:16px;
  height:8px;
}
#u99_seg3 {
  position:absolute;
  left:50px;
  top:24px;
  width:21px;
  height:20px;
}
#u100 {
  position:absolute;
  left:-1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:228px;
  top:483px;
  width:0px;
  height:0px;
}
#u101_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u101_seg1 {
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:113px;
}
#u101_seg2 {
  position:absolute;
  left:48px;
  top:101px;
  width:16px;
  height:8px;
}
#u101_seg3 {
  position:absolute;
  left:50px;
  top:95px;
  width:21px;
  height:20px;
}
#u102 {
  position:absolute;
  left:2px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:394px;
  top:375px;
  width:0px;
  height:0px;
}
#u103_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u103_seg1 {
  position:absolute;
  left:62px;
  top:-4px;
  width:8px;
  height:116px;
}
#u103_seg2 {
  position:absolute;
  left:62px;
  top:104px;
  width:18px;
  height:8px;
}
#u103_seg3 {
  position:absolute;
  left:66px;
  top:98px;
  width:21px;
  height:20px;
}
#u104 {
  position:absolute;
  left:16px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:394px;
  top:517px;
  width:0px;
  height:0px;
}
#u105_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u105_seg1 {
  position:absolute;
  left:62px;
  top:-38px;
  width:8px;
  height:42px;
}
#u105_seg2 {
  position:absolute;
  left:62px;
  top:-38px;
  width:18px;
  height:8px;
}
#u105_seg3 {
  position:absolute;
  left:66px;
  top:-44px;
  width:21px;
  height:20px;
}
#u106 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:394px;
  top:588px;
  width:0px;
  height:0px;
}
#u107_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u107_seg1 {
  position:absolute;
  left:62px;
  top:-109px;
  width:8px;
  height:113px;
}
#u107_seg2 {
  position:absolute;
  left:62px;
  top:-109px;
  width:18px;
  height:8px;
}
#u107_seg3 {
  position:absolute;
  left:66px;
  top:-115px;
  width:21px;
  height:20px;
}
#u108 {
  position:absolute;
  left:16px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:394px;
  top:445px;
  width:0px;
  height:0px;
}
#u109_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:5px;
}
#u109_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:75px;
  height:8px;
}
#u109_seg2 {
  position:absolute;
  left:63px;
  top:-4px;
  width:8px;
  height:47px;
}
#u109_seg3 {
  position:absolute;
  left:63px;
  top:34px;
  width:17px;
  height:8px;
}
#u109_seg4 {
  position:absolute;
  left:66px;
  top:28px;
  width:21px;
  height:21px;
}
#u110 {
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:75px;
  top:710px;
  width:109px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:115px;
  top:819px;
  width:102px;
  height:35px;
}
#u114 {
  position:absolute;
  left:2px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:273px;
  top:774px;
  width:102px;
  height:35px;
}
#u116 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:273px;
  top:865px;
  width:102px;
  height:35px;
}
#u118 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u119 {
  position:absolute;
  left:443px;
  top:819px;
  width:102px;
  height:35px;
}
#u120 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:217px;
  top:837px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u121_seg1 {
  position:absolute;
  left:39px;
  top:-49px;
  width:8px;
  height:53px;
}
#u121_seg2 {
  position:absolute;
  left:39px;
  top:-49px;
  width:17px;
  height:8px;
}
#u121_seg3 {
  position:absolute;
  left:42px;
  top:-55px;
  width:21px;
  height:20px;
}
#u122 {
  position:absolute;
  left:-7px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:217px;
  top:837px;
  width:0px;
  height:0px;
}
#u123_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u123_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:54px;
}
#u123_seg2 {
  position:absolute;
  left:39px;
  top:42px;
  width:17px;
  height:8px;
}
#u123_seg3 {
  position:absolute;
  left:42px;
  top:36px;
  width:21px;
  height:20px;
}
#u124 {
  position:absolute;
  left:-7px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:375px;
  top:792px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u125_seg1 {
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:53px;
}
#u125_seg2 {
  position:absolute;
  left:51px;
  top:41px;
  width:17px;
  height:8px;
}
#u125_seg3 {
  position:absolute;
  left:54px;
  top:35px;
  width:21px;
  height:20px;
}
#u126 {
  position:absolute;
  left:5px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:375px;
  top:884px;
  width:0px;
  height:0px;
}
#u127_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u127_seg1 {
  position:absolute;
  left:51px;
  top:-51px;
  width:8px;
  height:55px;
}
#u127_seg2 {
  position:absolute;
  left:51px;
  top:-51px;
  width:17px;
  height:8px;
}
#u127_seg3 {
  position:absolute;
  left:54px;
  top:-57px;
  width:21px;
  height:20px;
}
#u128 {
  position:absolute;
  left:5px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u129 {
  position:absolute;
  left:292px;
  top:638px;
  width:102px;
  height:35px;
}
#u130 {
  position:absolute;
  left:2px;
  top:8px;
  width:98px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:228px;
  top:483px;
  width:0px;
  height:0px;
}
#u131_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u131_seg1 {
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:181px;
}
#u131_seg2 {
  position:absolute;
  left:48px;
  top:169px;
  width:16px;
  height:8px;
}
#u132 {
  position:absolute;
  left:2px;
  top:58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:394px;
  top:656px;
  width:0px;
  height:0px;
}
#u133_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u133_seg1 {
  position:absolute;
  left:63px;
  top:-70px;
  width:8px;
  height:74px;
}
#u134 {
  position:absolute;
  left:17px;
  top:-10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:231px;
  top:957px;
  width:300px;
  height:170px;
}
#u136 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
