body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7026 {
  position:absolute;
  left:80px;
  top:406px;
  width:672px;
  height:127px;
}
#u7027 {
  position:absolute;
  left:2px;
  top:56px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7028 {
  position:absolute;
  left:88px;
  top:414px;
  width:170px;
  height:110px;
  color:#A1A1A1;
}
#u7029 {
  position:absolute;
  left:2px;
  top:39px;
  width:166px;
  word-wrap:break-word;
}
#u7030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
}
#u7030 {
  position:absolute;
  left:280px;
  top:417px;
  width:311px;
  height:24px;
  font-family:'Osaka-Mono', 'Osaka -Mono', 'Osaka';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7031 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:36px;
}
#u7032 {
  position:absolute;
  left:280px;
  top:446px;
  width:454px;
  height:36px;
  color:#A1A1A1;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u7034 {
  position:absolute;
  left:280px;
  top:504px;
  width:153px;
  height:18px;
  color:#A1A1A1;
}
#u7035 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u7036 {
  position:absolute;
  left:608px;
  top:504px;
  width:116px;
  height:18px;
  color:#A1A1A1;
}
#u7037 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u7038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7039_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:27px;
}
#u7039 {
  position:absolute;
  left:96px;
  top:242px;
  width:5px;
  height:22px;
}
#u7040 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7041 {
  position:absolute;
  left:111px;
  top:242px;
  width:65px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7042 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7044 {
  position:absolute;
  left:80px;
  top:534px;
  width:672px;
  height:127px;
}
#u7045 {
  position:absolute;
  left:2px;
  top:56px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7046 {
  position:absolute;
  left:88px;
  top:542px;
  width:170px;
  height:110px;
  color:#A1A1A1;
}
#u7047 {
  position:absolute;
  left:2px;
  top:39px;
  width:166px;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
}
#u7048 {
  position:absolute;
  left:280px;
  top:545px;
  width:311px;
  height:24px;
  font-family:'Osaka-Mono', 'Osaka -Mono', 'Osaka';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7049 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:36px;
}
#u7050 {
  position:absolute;
  left:280px;
  top:574px;
  width:454px;
  height:36px;
  color:#A1A1A1;
}
#u7051 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u7052 {
  position:absolute;
  left:280px;
  top:632px;
  width:153px;
  height:18px;
  color:#A1A1A1;
}
#u7053 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u7054 {
  position:absolute;
  left:608px;
  top:632px;
  width:116px;
  height:18px;
  color:#A1A1A1;
}
#u7055 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7057 {
  position:absolute;
  left:80px;
  top:662px;
  width:672px;
  height:127px;
}
#u7058 {
  position:absolute;
  left:2px;
  top:56px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7059 {
  position:absolute;
  left:88px;
  top:670px;
  width:170px;
  height:110px;
  color:#A1A1A1;
}
#u7060 {
  position:absolute;
  left:2px;
  top:39px;
  width:166px;
  word-wrap:break-word;
}
#u7061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
}
#u7061 {
  position:absolute;
  left:280px;
  top:673px;
  width:311px;
  height:24px;
  font-family:'Osaka-Mono', 'Osaka -Mono', 'Osaka';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7062 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u7063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:36px;
}
#u7063 {
  position:absolute;
  left:280px;
  top:702px;
  width:454px;
  height:36px;
  color:#A1A1A1;
}
#u7064 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u7065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u7065 {
  position:absolute;
  left:280px;
  top:760px;
  width:153px;
  height:18px;
  color:#A1A1A1;
}
#u7066 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u7067 {
  position:absolute;
  left:608px;
  top:760px;
  width:116px;
  height:18px;
  color:#A1A1A1;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u7069 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7070 {
  position:absolute;
  left:80px;
  top:278px;
  width:672px;
  height:127px;
}
#u7071 {
  position:absolute;
  left:2px;
  top:56px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7072 {
  position:absolute;
  left:88px;
  top:286px;
  width:170px;
  height:110px;
  color:#A1A1A1;
}
#u7073 {
  position:absolute;
  left:2px;
  top:39px;
  width:166px;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
}
#u7074 {
  position:absolute;
  left:280px;
  top:289px;
  width:311px;
  height:24px;
  font-family:'Osaka-Mono', 'Osaka -Mono', 'Osaka';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7075 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:36px;
}
#u7076 {
  position:absolute;
  left:280px;
  top:318px;
  width:454px;
  height:36px;
  color:#A1A1A1;
}
#u7077 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u7078 {
  position:absolute;
  left:280px;
  top:376px;
  width:153px;
  height:18px;
  color:#A1A1A1;
}
#u7079 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u7080 {
  position:absolute;
  left:608px;
  top:376px;
  width:116px;
  height:18px;
  color:#A1A1A1;
}
#u7081 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
#u7082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
  text-align:left;
}
#u7082 {
  position:absolute;
  left:81px;
  top:193px;
  width:1024px;
  height:32px;
  color:#868686;
  text-align:left;
}
#u7083 {
  position:absolute;
  left:2px;
  top:8px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:18px;
}
#u7084 {
  position:absolute;
  left:96px;
  top:200px;
  width:207px;
  height:18px;
  color:#868686;
}
#u7085 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u7086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7087 {
  position:absolute;
  left:407px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
}
#u7088 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7089 {
  position:absolute;
  left:441px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u7090 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7091 {
  position:absolute;
  left:475px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u7092 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7093 {
  position:absolute;
  left:509px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u7094 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7095 {
  position:absolute;
  left:543px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u7096 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7097 {
  position:absolute;
  left:578px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u7098 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7099 {
  position:absolute;
  left:612px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u7100 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u7101 {
  position:absolute;
  left:646px;
  top:962px;
  width:25px;
  height:25px;
  font-size:16px;
  color:#666666;
}
#u7102 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  word-wrap:break-word;
}
#u7103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u7103 {
  position:absolute;
  left:680px;
  top:962px;
  width:61px;
  height:25px;
  font-size:12px;
  color:#666666;
}
#u7104 {
  position:absolute;
  left:2px;
  top:5px;
  width:57px;
  word-wrap:break-word;
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:74px;
}
#u7106 {
  position:absolute;
  left:81px;
  top:109px;
  width:1024px;
  height:74px;
}
#u7107 {
  position:absolute;
  left:2px;
  top:29px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:54px;
}
#u7108 {
  position:absolute;
  left:375px;
  top:122px;
  width:572px;
  height:54px;
}
#u7109 {
  position:absolute;
  left:2px;
  top:19px;
  width:568px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7110 {
  position:absolute;
  left:407px;
  top:139px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u7111 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u7112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7112 {
  position:absolute;
  left:593px;
  top:139px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u7113 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-decoration:underline;
  color:#0066FF;
}
#u7114 {
  position:absolute;
  left:698px;
  top:139px;
  width:73px;
  height:22px;
  font-size:18px;
  text-decoration:underline;
  color:#0066FF;
}
#u7115 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7116 {
  position:absolute;
  left:489px;
  top:139px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u7117 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u7118 {
  position:absolute;
  left:792px;
  top:139px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u7119 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7121_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:10px;
  height:27px;
}
#u7121 {
  position:absolute;
  left:768px;
  top:242px;
  width:5px;
  height:22px;
}
#u7122 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7123 {
  position:absolute;
  left:783px;
  top:242px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7124 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:261px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7125 {
  position:absolute;
  left:768px;
  top:278px;
  width:337px;
  height:261px;
}
#u7126 {
  position:absolute;
  left:2px;
  top:122px;
  width:333px;
  word-wrap:break-word;
}
#u7127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7127 {
  position:absolute;
  left:768px;
  top:549px;
  width:239px;
  height:16px;
}
#u7128 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u7129 {
  position:absolute;
  left:768px;
  top:575px;
  width:337px;
  height:1px;
}
#u7130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:261px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7131 {
  position:absolute;
  left:768px;
  top:586px;
  width:337px;
  height:261px;
}
#u7132 {
  position:absolute;
  left:2px;
  top:122px;
  width:333px;
  word-wrap:break-word;
}
#u7133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7133 {
  position:absolute;
  left:768px;
  top:857px;
  width:239px;
  height:16px;
}
#u7134 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u7135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:127px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7136 {
  position:absolute;
  left:80px;
  top:799px;
  width:672px;
  height:127px;
}
#u7137 {
  position:absolute;
  left:2px;
  top:56px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:110px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u7138 {
  position:absolute;
  left:88px;
  top:807px;
  width:170px;
  height:110px;
  color:#A1A1A1;
}
#u7139 {
  position:absolute;
  left:2px;
  top:39px;
  width:166px;
  word-wrap:break-word;
}
#u7140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
}
#u7140 {
  position:absolute;
  left:280px;
  top:810px;
  width:311px;
  height:24px;
  font-family:'Osaka-Mono', 'Osaka -Mono', 'Osaka';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7141 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u7142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:36px;
}
#u7142 {
  position:absolute;
  left:280px;
  top:839px;
  width:454px;
  height:36px;
  color:#A1A1A1;
}
#u7143 {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  word-wrap:break-word;
}
#u7144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:18px;
}
#u7144 {
  position:absolute;
  left:280px;
  top:897px;
  width:153px;
  height:18px;
  color:#A1A1A1;
}
#u7145 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u7146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:18px;
}
#u7146 {
  position:absolute;
  left:608px;
  top:897px;
  width:116px;
  height:18px;
  color:#A1A1A1;
}
#u7147 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  white-space:nowrap;
}
